main {
  max-width: 1150px;
  margin: 120px auto 40px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 0 0 10px rgba(138, 43, 226, 0.7);
}

.subtitulo {
  text-align: center;
  font-style: italic;
  margin-bottom: 35px;
}

/* Estructura para todos los cajones */
main section {
  background-color: rgba(15, 10, 25, 0.82);
  border: 1px solid var(--borde-tarjeta);
  border-left: 4px solid #8a2be2;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 25px;
  backdrop-filter: blur(4px); /*consultar*/
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

main section h2, main section h3 {
  color: #e0d5f5;
  margin-bottom: 12px;
  text-shadow: 0 0 8px rgba(138, 43, 226, 0.6);
}

/* Centrado de títulos */

.tarjeta-evento h2,
.tarjeta-pacto h2,
.santuario-nocturno h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* Detalles de la tarjeta de texto (Pacto) */
.tarjeta-pacto p {
  margin-top: 10px;
  font-style: italic;
}

.contenido-evento, 
.contenido-santuario, 
.contenido-instalaciones {
  display: flex;
  align-items: center; /* Centra verticalmente imagen y texto */
  gap: 20px;
}

.contenido-evento img, 
.contenido-santuario img, 
.contenido-instalaciones img {
  width: 45%; 
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--borde-tarjeta);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contenido-evento p,
.contenido-santuario p,
.contenido-instalaciones h2 {
  width: 55%;
  margin: 0;
}

