:root {
 
  --fondo-principal: #0a0a0c;
  --fondo-secundario: #141418;
  --texto-principal: #d4d4d8;


  --rojo-sangre: #8b0000;
  --dorado-antiguo: #b89758;


  --fuente-principal: sans-serif;

  --color-enlace: #a855f7;

}